<div class="message-form">
  <form ng-submit="$ctrl.sendMessage($ctrl.message) && $ctrl.submitFormOnReturn()" >
    <textarea ng-model="$ctrl.message" placeholder="Press enter to send message" autofocus/>
    <br><br>
    <input type="Submit" value="Publish"/>
  </form>
</div>