<div class="gtco-section">
  <div class="gtco-container">
    <div class="row">
      <center>
        <!-- User's basic info & action buttons -->
        <div class="user-info">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-10 offset-md-1">

                <img ng-src="{{::$ctrl.profile.image}}" class="user-img" />
                <h4 ng-bind="::$ctrl.profile.username"></h4>
                <p ng-bind="::$ctrl.profile.bio"></p>

                <a ui-sref="app.settings"
                  class="btn btn-sm btn-outline-secondary action-btn"
                  ng-show="$ctrl.isUser">
                  <i class="ion-gear-a"></i> Edit Profile Settings
                </a>

                <follow-btn user="$ctrl.profile" ng-hide="$ctrl.isUser"></follow-btn>

              </div>
            </div>
          </div>
        </div>

        <!-- Container where User's posts & favs are list w/ toggle tabs -->
        <div class="container">
          <div class="row">

            <div class="col-xs-12 col-md-10 offset-md-1">

              <!-- Tabs for switching between author articles & favorites -->
              <div class="articles-toggle">
                <ul class="nav nav-pills outline-active">

                  <li class="nav-item">
                    <a class="nav-link active"
                      ui-sref-active="active"
                      ui-sref="app.profile.main({username: $ctrl.profile.username})">
                      My Incidences
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link"
                      ui-sref-active="active"
                      ui-sref="app.profile.issued({username: $ctrl.profile.username})">
                      Issued Incidences
                    </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active"
                        ui-sref-active="active"
                        ui-sref="app.socket">
                        Chat test
                      </a>
                    </li>

                </ul>
              </div>

              <!-- List of articles -->
              <div ui-view></div>


            </div>

          <!-- End row & container divs -->
          </div>
        </div>
      </center>
    </div>
  </div>
</div>