<nav class="gtco-nav" role="navigation">
  <div class="gtco-container">
    
    <div class="row">
      
      <div class="col-sm-4 col-xs-12">
        <div id="gtco-logo"><a  ui-sref="app.home">PLUS ONE <em>.</em></a></div>
      </div>
      
      <div class="col-xs-4 text-right menu-1">
        <ul>
          <li><a ui-sref="app.incidences">Incidences</a></li>
          <li class="has-dropdown">
            <a href="#">Travel</a>
            <ul class="dropdown">
              <li><a href="#">Europe</a></li>
              <li><a href="#">Asia</a></li>
              <li><a href="#">America</a></li>
              <li><a href="#">Canada</a></li>
            </ul>
          </li>
          <li><a ui-sref="app.contact">Contact</a></li>
        </ul>	
        
      </div>
      <div class="col-xs-4 text-right menu-1">
        <ul show-authed="false">
          <li><a id="acceder" ui-sref-active="active" ui-sref="app.login" class="button special">Acceder</a></li>
          <li><a id="acceder" ui-sref-active="active" ui-sref="app.register" class="button special">Registrarse</a></li>
        </ul>
        <ul show-authed="true">
          <li>
            <a ui-sref-active="active" ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">
              <img ng-src="{{avatarUrl()}}" class="user-pic-header" />
            </a>
          </li>
          <li>
            <a ui-sref-active="active" ui-sref="app.profile.main({ username: $ctrl.currentUser.username})">{{ $ctrl.currentUser.username }}</a>
          </li>
          <li>
            <a id='logout'  ng-click="$ctrl.logout()" >
              Log Out</a>
          </li>
        </ul>
      </div>
    </div>    
  </div>
</nav>