<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(../../images/img_bg_4.jpg)">
  <div class="overlay"></div>
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-left">
        <div class="row row-mt-15em">

          <div class="col-md-7 mt-text">
            <span class="intro-text-small">Don't be shy</span>
            <h1>Get In Touch</h1>	
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</header>
<div class="gtco-section border-bottom">
  <div class="gtco-container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 ">
        <h3>Get In Touch</h3>
        <form id="contact_form" name="contact_form" class="form-contact" ng-submit="vm.SubmitContact()">
          <div class="row form-group">
            <div class="col-md-12">
              <label class="sr-only" for="inputName">Name</label>
              <input class="form-control" required ng-model="vm.inputName" type="text" id="inputName" name="inputName" placeholder="Your first name">
              <span class="text-danger" ng-show="contact_form.inputName.$error.required && (contact_form.inputName.$dirty || contact_form.inputName.$touched)">The name is required</span>
            </div>
            
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="sr-only" for="inputEmail">Email</label>
              <input class="form-control" required ng-model="vm.inputEmail" type="email" id="inputEmail" name="inputEmail" placeholder="Your email address">
              <span class="text-danger" ng-show="contact_form.inputEmail.$error.required && (contact_form.inputEmail.$dirty || contact_form.inputEmail.$touched)">The email is required</span>
              <span class="text-danger" ng-show="contact_form.inputEmail.$error.email">The email is not valid</span>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="sr-only" for="inputSubject">Subject</label>
              <select ng-model="vm.inputSubject" class="form-control" id="inputSubject" name="inputSubject" title="Choose subject">
                <option value="order">SEL_ORDER</option>
                <option value="programming_dept">SEL_PROG_DEPT</option>
                <option value="work">SEL_WORK</option>
                <option value="projects">SEL_NEW_PROJ</option>
                <option value="suggestions">SEL_SUGGEST</option>
                <option value="claim">SEL_CLAIM</option>
                <option value="suscribe">SEL_SUBSCRIBE</option>
                <option value="diferent">SEL_DIFFERENT</option>
            </select>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-12">
              <label class="sr-only" for="inputMessage">Message</label>
              <textarea required ng-model="vm.inputMessage" id="inputMessage" name="inputMessage" cols="30" rows="10" class="form-control" placeholder="Write us something"></textarea>
              <span class="text-danger" ng-show="contact_form.inputMessage.$error.required && (contact_form.inputMessage.$dirty || contact_form.inputMessage.$touched)">The comment is required</span>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" name="submit" id="submitBtn" value="Send Message" ng-show="contact_form.inputName.$valid && contact_form.inputEmail.$valid && contact_form.inputMessage.$valid"
            ng-click="SubmitContact()"/>
            <div id="resultMessageOk" class="msg_ok">{{vm.resultMessageOk}}</div>
            <div id="resultMessageFail" class="msg_error">{{vm.resultMessageFail}}</div>
          </div>

        </form>		
      </div>
      <div class="col-md-5 col-md-push-1">
        
        <div class="gtco-contact-info">
          <h3>Contact Information</h3><br><br>
          <ul>
            <li><ng-md-icon icon="work" style="fill:rgb(9, 198, 171);" size="32"></ng-md-icon><br>198 West 21th Street, <br> Suite 721 New York NY 10016</li>
            <li><ng-md-icon icon="local_phone" style="fill:rgb(9, 198, 171);" size="32"></ng-md-icon><br><a href="tel://1234567920">+ 1235 2355 98</a></li>
            <li><ng-md-icon icon="brush" style="fill:rgb(9, 198, 171);" size="32"></ng-md-icon><br>Template from:<br><a href="https://freehtml5.co">FreeHTML5.co</a></li>
          </ul>
        </div>


      </div>
      </div>
    </div>
  </div>
</div>