<!-- <div class="incidence-preview">
  <incidence-meta incidence="$ctrl.incidence">
    <favorite-btn
      incidence="$ctrl.incidence"
      class="pull-xs-right">
      {{$ctrl.incidence.favoritesCount}}
    </favorite-btn>
  </incidence-meta>

  <a ui-sref="app.incidence({ _id: $ctrl.incidence._id })" class="preview-link">
    <h1 ng-bind="$ctrl.incidence.name"></h1>
    <p ng-bind="$ctrl.incidence.desc"></p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline"
        ng-repeat="tag in $ctrl.incidence.tagList">
        {{tag}}
      </li>
    </ul>
  </a>
</div> -->

<div class="col-lg-4 col-md-4 col-sm-6" >
    <a class="fh5co-card-item" ui-sref="app.details({ slug: $ctrl.incidence.slug })">
      <figure>
        <div class="overlay"><i class="ti-plus"></i></div>
        <img src="images/img_1.jpg" alt="Image" class="img-responsive" />
      </figure>
      <div class="fh5co-text">
        <h2 ng-bind="$ctrl.incidence.type"></h2>
        <p ng-bind="$ctrl.incidence.name"></p>
        <p><button class="btn btn-primary">Know more</button></p>
      </div>
    </a>
</div>