<div class="gtco-section">
  <div class="gtco-container">
    <div class="row">    

      <div class="col-md-6 col-xs-6" style="float: letf;">
        <h1 class="text-xs-center" ng-bind="::$ctrl.title"></h1>
        <p class="text-xs-center">
          <a ui-sref="app.login"
            ng-show="$ctrl.authType === 'register'">
            Have an account?
          </a>
          <a ui-sref="app.register"
            ng-show="$ctrl.authType === 'login'">
            Need an account?
          </a>
        </p>

        <list-errors errors="$ctrl.errors"></list-errors>

        <form ng-submit="$ctrl.submitForm()">
          <fieldset ng-disabled="$ctrl.isSubmitting">

            <fieldset class="form-group" ng-show="$ctrl.authType === 'register'">
              <input class="form-control form-control-lg"
                type="text"
                placeholder="Username"
                ng-model="$ctrl.formData.username" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="email"
                placeholder="Email"
                ng-model="$ctrl.formData.email" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                type="password"
                placeholder="Password"
                ng-model="$ctrl.formData.password" />
            </fieldset>
          </fieldset>
          <br />
          <fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right"
              type="submit"
              ng-bind="::$ctrl.title">
            </button>
          </fieldset>
          
        </form>
        
      </div>
      <div class="col-md-4 col-xs-6" style="float: right;">
        <h1 class="text-xs-center">Sign in with:</h1>
        <br />
        <a href="http://localhost:8080/api/auth/googleplus"><button class="btn pull-xs-right" style="background-color:whitesmoke;"><ng-md-icon icon="google-plus-box" style="fill: rgb(216, 107, 18)" size="32"></ng-md-icon></button></a>
        <a href="http://localhost:8080/api/auth/gitlab"><button class="btn pull-xs-right" style="background-color:whitesmoke;"><ng-md-icon icon="github-circle" style="fill: rgb(47, 146, 226)" size="32"></ng-md-icon></button></a>
      </div>
    </div>
  </div>
</div>
